fastapi
uvicorn[standard]
celery
redis
python-pptx==0.6.23
lxml==5.2.2
Pillow==10.4.0
requests
pytest
httpx
python-multipart
google-generativeai
PyMuPDF
python-docx
imagehash
google-cloud-storage
grpcio>=1.59.0
google-api-python-client>=2.88.0
google-auth>=2.22.0
google-auth-httplib2>=0.1.0